<!DOCTYPE html>
<html lang='en'>

<head>
  <title>Schoodle</title>
  <% include partials/_header %>
</head>

<body>
  <% include partials/_logo %>
  <main>
    <h1>404</h1>
    <h2>You broke the internet! Just kidding, but we couldn't find the page you are looking for...</h2>
    <a href='/'><button>Go home?</button></a>
  </main>
</body>

</html>
