<!DOCTYPE html>
<html lang='en'>

<head>
  <title>Schoodle</title>
  <% include partials/_header %>
</head>

<body>
  <% include partials/_logo %>
  <main>
    <h1>Oh noes!</h1>

    <h2>You have encountered an error:</h2>
    
    <h3><%= message %></h3>

    <h4><%= status %></h4>
  </main>
</body>

</html>
