<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>Schoodle</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <% include partials/_header %>
  </head>

  <body>
    <main>
      <h1>Get together with Schoodle</h1>
      <h2>The simple way to decide on dates, places & more</h2>
      <a href='/event/new'><button>Create Schoodle Event</button></a>
    </main>
  </body>
</html>
