<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>Schoodle</title>
    <% include partials/_header %>
  </head>

  <body>
    <main class='new-event-jumbo'>
      <div>
        <h1>New Event</h1>
        <form method='POST' action='/event/new'>
          <input name='title' type='text' placeholder='Event Title' maxlength='32'><br><br>
          <input name='location' type='text' placeholder='Address' maxlength='64'><br><br>
          <input name='description' type='text' placeholder='Description' maxlength='256'><br><br>
          <input name='admin_name' type='text' placeholder='Your Name' maxlength='32'><br><br>
          <input name='admin_email' type='email' placeholder='Your Email Address' maxlength='64'><br><br>
          <label for='date'>Date of Event</label><br>
          <input name='date' id='date' type='date'><br><br>
          <label for='time1'>Time 1</label>
          <input class='input-times' name='time1' id='time1' type='time'><br><br>
          <label for='time2'>Time 2</label>
          <input class='input-times' name='time2' id='time2' type='time'><br><br>
          <label for='time3'>Time 3</label>
          <input class='input-times' name='time3' id='time3' type='time'><br><br>
          <label for='time4'>Time 4</label>
          <input class='input-times' name='time4' id='time4' type='time'><br><br>
          <button>Submit</button>
        </form>
      </div>
    </main>
  </body>
</html>
