button {
  background-color: #ff876d;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 20px;
  height: 60px;
  width: 250px;
}

html {
  background-color: #e4ebf1;
  font-family: avenir, sans-serif;
}

main {
  background-color: #3798d4;
  height: 400px;
  padding: 4.5em;
  text-align: center;

  h1, h2 {
    color: white;
    margin: 0;
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 650px) {
  main {
    padding: 7.5em;
  }
}
