button {
  background-color: #ff876d;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 20px;
  height: 60px;
  width: 90%;
}

.event-buttons button {
  width: 40%;
}

.event-details p {
  color: white;
}

.event-links {
  color: white;
  font-size: 18px;
}

form button {
  background-color: #e4ebf1;
  border: none;
  border-radius: 5px;
  color: #1b63ad;
  font-size: 20px;
}

form input {
  background-color: #3798d4;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  font-size: 20px;
  width: 100%;
}

html {
  background-color: #3798d4;
  font-family: avenir, sans-serif;
}

.input-times {
  background-color: #3798d4;
}

main {
  background-color: #3798d4;
  padding: 4.5em 1.5em;
  text-align: center;

  h1, h2 {
    color: white;
    margin: 0;
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 650px) {
  main {
    padding: 7.5em;
  }
}

@media screen and (min-width:800px) {
  .event-buttons button {
    width: 25%;
  }
  html, body {
    background-color: #e4ebf1;
  }
  .new-event-jumbo, .event-jumbo {
    border-radius: 10px;
    margin: auto;
    margin-top: 7em;
    padding: 3em;
    text-align: center;
    width: 50%;
  }
}

.new-event-jumbo label {
  color: white;
  font-size: 18px;
}

.new-vote-composer {
  background-color: #d2ddeb;
  border-radius: 5px;
  display: none;
  padding: 5px;
  text-align: center;
  
  button {
    height: 100%;
    padding: 3px;
    width: 100%;
  }
  
  input {
    background-color: inherit;
    color: #123;
  }
  
  table {
    width: 100%;
    
    td {
      padding: 5px;
    }
  }
}

.poll-results {
  color: white;
  margin: auto;
  padding: 0;
  text-align: center;
  
  button {
    border-radius: 2px;
    height: 30px;
    width: 100%;
  }
  .false {
    background-color: #0f2849;
  }
  .true {
    background-color: #d2ddeb;
    color: #123;
  }
  th, td {
    padding: 0;
    width: 10%;
  }
  .vote {
    border-radius: 2px;
  }
}